<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:auth="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>系统管理-部门管理</title>
    <script th:src="@{/js/jquery-1.8.3.min.js}"></script>
    <link rel="stylesheet" th:href="@{/lib/layui-v2.5.4/layui/css/layui.css}">
    <script th:src="@{/lib/layui-v2.5.4/layui/layui.js}"></script>
    <script th:src="@{/js/main15.js}"></script>
    <link rel="stylesheet" th:href="@{/font/iconfont.css}">
    <link rel="stylesheet" th:href="@{/css/config15.css}">
    <link rel="stylesheet" th:href="@{/css/style15.css}">
</head>
<body>
    <div class="s-module-name">
        <i class="iconfont L521_icolor">&#xe640;</i>
        <span>系统管理</span>
        <img th:src="@{/images/icon-title-right.png}">
        <a th:href="@{/shmDepartment/getShmDepartmentList}"><span>部门管理</span></a>
    </div>
    <div class="s-search-row">
        <form class="layui-form">
            <div class="s-search-item">
                <input type="text" id="departmentId" class="s-input-def" placeholder="请输入部门名称" autocomplete="off">
            </div>
            <div class="s-search-item s-search-send">
                <a class="s-filter-btn s-btn">查询</a>
            </div>
        </form>
    </div>
    <div class="s-list-tree">
        <div class="s-list">
            <div class="s-list-action">
                <a class="s-add-department s-btn" auth:check="departAdd">新增</a>
            </div>
            <div id="s_department" class="s-list-table">
                <table class="layui-hide" id="s_departmentList" lay-filter="s_departmentList"></table>
            </div>
            <div class="s-tree-box">
                <div id="s_departmentList_tree" class="s-tree-content"></div>
            </div>
        </div>
    </div>
    <div id="s-alert-data" class="layui-form" lay-filter="add-department" style="display:none;">
        <table>
            <tr>
                <td class="s-table-key" style="width:108px;"><i>*</i>部门名称 :</td>
                <td class="s-table-val"><input type="text" id="addDepartmentName" class="s-input-def" autocomplete="off" maxlength="50" onKeyDown="if(this.value.length>50){event.returnValue=false}"></td>
            </tr>
            <tr>
                <td class="s-table-key"><i>*</i>上一级部门 :</td>
                <td class="s-table-val">
                    <select name="add-parentDepartment" lay-filter="add-parentDepartment">
                        <option value="-1">请选择</option>
                        <option th:each="dept:${ltShmDepartment}" th:value="${dept.id}" th:text="${dept.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="s-table-key">部门类别 :</td>
                <td class="s-table-val">
                    <select name="add-departmentType" lay-filter="add-departmentType">
                        <option value="-1">不分类</option>
                        <option value="1">A类</option>
                        <option value="2">B类</option>
                        <option value="3">C类</option>
                    </select>
                </td>
            </tr>
        </table>
        <div class="s-alert-action" style="padding:72px 0 24px;">
            <a class="s-alert-send s-btn">提交</a>
            <a class="s-alert-close s-btn s-btn-white">取消</a>
        </div>
    </div>
</body>
<!--用户操作列权限设置 Start-->
<script type="text/html" id="typeOperate">
    <a class="s-btn-table" data-tips="编辑" lay-event="edit" auth:check="departEdit"><i class="iconfont">&#xe641;</i></a>
    <a class="s-btn-table" data-tips="删除" lay-event="del" auth:check="departDel"><i class="iconfont">&#xe63e;</i></a>
</script>
<!--用户操作列权限设置 End-->
<script th:src="@{/web/system/department/department.js}"></script>
</html>