<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>系统管理-日志管理</title>
    <script th:src="@{/js/jquery-1.8.3.min.js}"></script>
    <link rel="stylesheet" th:href="@{/lib/layui-v2.5.4/layui/css/layui.css}">
    <script th:src="@{/lib/layui-v2.5.4/layui/layui.js}"></script>
    <script th:src="@{/js/main15.js}"></script>
    <link rel="stylesheet" th:href="@{/font/iconfont.css}">
    <link rel="stylesheet" th:href="@{/css/config15.css}">
    <link rel="stylesheet" th:href="@{/css/style15.css}">
</head>
<body>
    <div class="s-module-name">
        <i class="iconfont L521_icolor">&#xe640;</i>
        <span>日志管理</span>
        <img th:src="@{/images/icon-title-right.png}">
        <a th:href="@{/shmLogs/getShmLogsList}"><span>日志查询</span></a>
    </div>
    <div class="s-search-row">
        <form class="layui-form">
            <div class="s-search-item">
                <span>操作日期:</span>
                <div class="s-search-inputBox">
                    <input type="text" class="layui-input P108_layuiEditInput" id="test1" name="starttime" placeholder="开始时间" autocomplete="off">
                </div>
                <a>-</a>
                <div class="s-search-inputBox">
                    <input type="text" class="layui-input P108_layuiEditInput" id="test2" name="endtime" placeholder="结束时间" autocomplete="off">
                </div>
            </div>
            <div class="s-search-item">
                <input type="text" id="formKeywords" name="userName" class="s-input-def" placeholder="请输入用户名搜索" autocomplete="off">
            </div>
            <div class="s-search-item">
                <input type="text" id="moduleName" name="moduleName" class="s-input-def" placeholder="请输入模块名称搜索" autocomplete="off">
            </div>
            <div class="s-search-item">
                <input type="text" id="functionName" name="functionName" class="s-input-def" placeholder="请输入功能名称搜索" autocomplete="off">
            </div>
            <div class="s-search-item s-search-send">
                <a class="s-filter-btn s-btn">查询</a>
            </div>
        </form>
    </div>
    <div class="s-list">
        <div class="s-list-action">
        </div>
        <div id="s_form" class="s-list-table">
            <table class="layui-hide" id="s_formList" lay-filter="s_formList"></table>
        </div>
    </div>

</body>
<script th:src="@{/web/system/logs/log.js}"></script>
</html>