package ${package.ServiceImpl};

import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import ${superServiceImplClassPackage};
import lombok.extern.slf4j.Slf4j;
import org.springframework.stereotype.Service;

/**
 * @Author: ${author}
 * @Description: $!{table.comment} Service 实现类
 * @Date: Create in ${date}
 */
@Slf4j
@Service
#if(${kotlin})
open class ${table.serviceImplName} : ${superServiceImplClass}<${table.mapperName}, ${entity}>(), ${table.serviceName} {

}
#else
public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}> implements ${table.serviceName} {

        @Resource
        private ${entity}Mapper  ${table.entityPath}Mapper;

        /**
         * 新增$!{table.comment}
         * @param bean
         * @return
         */
        @Override
        public ResponseMsg<${entity}> add${entity}Info(${entity} bean) {
        try {
                ${table.entityPath}Mapper.insert(bean);
             } catch (Exception e) {
               log.error("【创建$!{table.comment}】新增失败, ERROR={} --> {}", this.getClass().getName(), e.toString());
               return  ResponseMsgUtil.error(SysReturnCode.SYSTEM_ERROR.getCode(),"新增失败");
         }
               return  ResponseMsgUtil.success(bean);
         }
}
#end
